* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainTypo;
  }

  h1 {
    font-family: $mainTypo;
    color: white;
    font-weight: 500;    
  }

  h2 {
    text-align: center;
    font-weight: 400;
  }